/* .book-card {
    margin-bottom: 30px;
}

.book-card img {
    width: 50%;
    height: 250px;
    object-fit: cover;
} */


.bookList {
    background-color: #e3f6f5;
    padding-bottom: 35px;
    margin: 0;
}