.myBook-card {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.myBook-card img {
    width: 40%;
    height: 300px;
    margin-top: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 10px 10px 7px 7px #A4BCC2;
}

.myBook-card .btn {
    display: inline-block;
    margin-top: 15px;
}