.profile {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 200px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
}

.profile h1 {
    size: 30px;
    color: #272643;
}

.profile img {
    width: 200px;
    margin-top: 40px;
    justify-content: center;
}

.form {
    width: 30%;
}

.trans {
    margin-top: 40px;
}

.library {
    display: flex;
    justify-content: right;
    align-items: baseline;
}