html {
    min-height: 100%;
    position: relative;
    background-color: #e3f6f5;
    font-family: 'Monserrat', sans-serif;
}

body {
    font-family: 'Monserrat', sans-serif;
    font: lighter;
}

main {
    background-color: #e3f6f5;
    font-family: 'Monserrat', sans-serif;
}

.paddingTop70 {
    padding-top: 70px;
}

.btn {
    background-color: #272643;
    color: white;
}

.btn:hover {
    color: white;
}