.navbar-custom {
    background-color: #2c698d;
    padding: 5px 10px;
}


.navHover {
    text-decoration: none;
    color: #98B5C7;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
}


.navHover:hover {
    text-decoration: none;
    background-color: #BAE8E8;
    border-radius: 10px;
    color: #2c698d;
}